:root {
    --color-background: #f8f7ff;
    --color-on-background: #2d2a32;
    --color-background-hover: #ece9ff;
    --color-on-background-hover: #2d2a32;
    --color-primary: #9d8df1;
    --color-on-primary: white;
    --color-error: #ff70a6;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #121214; 
    --color-on-background: #e1e1e6;
    
    --color-background-hover: #1f1b2d;
    --color-on-background-hover: #b39ddb;
    
    --color-primary: #b39ddb; 
    --color-primary-disabled: #312d4a;
    --color-on-primary: #121214;
    
    --color-error: #f48fb1;
    --color-on-error: #121214;
}
